<div>

    <h2 translate="puydufouApp.type_activite.home.title">Type_activites</h2>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" data-toggle="modal" data-target="#saveType_activiteModal" ng-click="clear()">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="puydufouApp.type_activite.home.createLabel">Create a new Type_activite</span>
                </button>
            </div>
        </div>
    </div>

    <div class="modal fade" id="saveType_activiteModal" tabindex="-1" role="dialog" aria-labelledby="myType_activiteLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="editForm" role="form" novalidate ng-submit="save()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myType_activiteLabel" translate="puydufouApp.type_activite.home.createOrEditLabel">Create or edit a Type_activite</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="type_activite.id" readonly>
                        </div>

                        <div class="form-group">
                            <label translate="puydufouApp.type_activite.nom_type">Nom_type</label>
                            <input type="text" class="form-control" name="nom_type"
                                   ng-model="type_activite.nom_type">

                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteType_activiteConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(type_activite.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="puydufouApp.type_activite.delete.question" translate-values="{id: '{{type_activite.id}}'}">Are you sure you want to delete this Type_activite?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th translate="puydufouApp.type_activite.nom_type">Nom_type</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="type_activite in type_activites">
                    <td><a ui-sref="type_activiteDetail({id:type_activite.id})">{{type_activite.id}}</a></td>
                    <td>{{type_activite.nom_type}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="type_activiteDetail({id:type_activite.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ng-click="showUpdate(type_activite.id)"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(type_activite.id)"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
